@page
@model Projekt2025.Pages.Event.EventModel


<div>
    <a href="@Url.Page("/CreateEvent")" class="btn btn-lg btn-outline-secondary me-3" style="font-size: 1.13rem; padding: 4px 20px; border-width: 1px;">Create New Event</a>
</div>